<footer>
    <div class="footer">
        <div class="section-A">
            <div class="logo">
                <img src="https://b.zmtcdn.com/web_assets/b40b97e677bc7b2ca77c58c61db266fe1603954218.png?fit=around|198:42&crop=198:42;*,*"
                    alt="">
            </div>
            <div class="dropdown">
                <label for="countries"></label>
                <select name="countries" id="countries">
                    <option value="India">India</option>
                    <option value="UAE">UAE</option>
                </select>

                <label for="languages"></label>
                <select name="languages" id="languages">
                    <option value="English">English</option>
                    <option value="Polish">Polish</option>
                    <option value="Indonesian">Indonesian</option>
                    <option value="vietnamese">vietnamese</option>
                    <option value="Italian">Italian</option>
                </select>
            </div>
        </div>
        <br><br>
        <div class="section-B">
            <div class="footeritems">
                <h4>ABOUT ZOMATO</h4>
                <ul>
                    <li>Who We Are</li>
                    <li>Blog</li>
                    <li>Work With Us</li>
                    <li>Investor Relations</li>
                </ul>
            </div>
            <div class="footeritems">
                <h4>ZOMAVERSE</h4>
                <ul>
                    <li>Zomato</li>
                    <li>Blinkit</li>
                    <li>Feeding India</li>
                    <li>Hyperpure</li>
                </ul>
            </div>
            <div class="footeritems">
                <h4>FOR RESTAURANTS</h4>
                <ul>
                    <li>Partmer With US</li>
                    <li>Apps For You</li>
                </ul>
                <h4>FOR ENTERPRISES</h4>
                <ul>
                    <li>Zomato For Enterprise</li>
                </ul>
            </div>
            <div class="footeritems">
                <h4>LEARN MORE</h4>
                <ul>
                    <li>Privacy</li>
                    <li>Security</li>
                    <li>Terms</li>
                    <li>Sitemap</li>
                </ul>
            </div>
            <div class="footeritems">
                <h4>SOCIAL LINKS</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </div>
                <img src="https://b.zmtcdn.com/data/webuikit/9f0c85a5e33adb783fa0aef667075f9e1556003622.png" width="150px" alt="app store"><br>
                <img src="https://b.zmtcdn.com/data/webuikit/23e930757c3df49840c482a8638bf5c31556001144.png" width="150px" alt="play store">
            </div>
        </div>
        <br><br>
        <div class="para">
            <p>By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and
                Content Policies. All trademarks are properties of their respective owners. 2008-2023 © Zomato™ Ltd.
                All
                rights reserved.</p>
        </div>
    </div>
</footer>