<div id="login-page">
    <form action="/login" method="post"> 
        <div class="top">
            <h1>Login</h1>
            <h1 class="close">&times;</h1>
        </div>
        <br><br>
        <div id="country-code">
            <div class="country-section">
                <img src="https://b.zmtcdn.com/images/flags_z10/in.png" alt="flag">
                <span>+91</span>
                <span>v</span>
            </div>
            <hr>
            <input type="number" name="phone" placeholder="Phone">
        </div>
        <div class="drop-down"></div>
        <button class="btn">Send One Time Password</button>
        <br><br><hr>
        <p>or</p>
        <ul>
            <li><a href="#" onclick="emailLogin()">✉️Continue with Email</a></li>
            <li><a href="#">Continue with Google</a></li>
        </ul>
        <li>New to Zomato?<a href="#"> Create account</a></li>
    </form>
</div>