<div id="login-email">
    <form action="/login" method="post">
        <div class="top">
            <h1>Login</h1>
            <h2 class="close">&times;</h2>
        </div><br><br>
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="checkbox" name="check"><label for="check"> agree to Zomato's Terms of Service, Privacy Policy and Content Policies</label>
        <button type="submit" class="btn">Login</button><br><br>
        <hr> <p>or</p>
        <ul>
            <li><a href="#">Continue with Google</a></li>
        </ul>
    </form>
</div>