<div id="signup-page">
    <form action="/signup" method="post">
        <div class="top">
            <h1>Signup</h1>
            <h2 class="close">&times;</h2>
        </div><br><br>
        <input type="text" name="name" placeholder="Full Name"><br><br>
        <input type="email" name="email" required placeholder="Email">

        <input type="checkbox" name="check"><label for="check"> agree to Zomato's Terms of Service, Privacy Policy and Content Policies</label>
        <button type="submit" class="btn">Create account</button><br><br>
        <hr> <p>or</p>
        <ul>
            <li><a href="#">Continue with Google</a></li>
        </ul>
        <li>Already have an account?<a href="">Log in</a> </li>
    </form>
</div>